<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>CinemaOL | An Online Cinema Ticket Booking System</title>
    <script type="text/javascript" src="/common.js"></script>
    <script type="text/javascript" src="/resources/jquery-1.6.1.min.js"></script>
    <%-defineContent('head')%>
    <link href="/resources/style.css" rel="stylesheet" type="text/css" />
    <link href="/favicon.ico" rel="Shortcut Icon" />
    <script type="text/javascript" src="/Scripts/moment.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div style="width: 300px; height: 100px; float: left;">
                <a href="/">
                    <img src="/images/appImages/logo.png" height="100px" width="300px" alt="CinemaOL" id="logo" />
                </a>
            </div>

            <div style="width: 500px; height: 100px; float: right;">
                <div id="LoginRegister" runat="server" class="menu_" style="height: 50%; display: block; vertical-align: top; text-align: right; line-height: 100%;">

                    <a href="/manage-show" style="width:110px;">Manage Show</a> <a style="width:110px;" href="/manage-movie">Manage Movie</a>
                </div>
                <div class="menu_" style="height: 50%; display: block; vertical-align: top; text-align: right; line-height: 100%;">
                    <a href="#">ContactUs</a><a href="#">AboutUs</a><a href="/movies">Movies</a><a href="/">Home</a>
                    <br />
                    <br />
                    <center>
                        Your IP is: <%=ip %>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <%- body %>
    </div>
    <div id="footer">
        <div style="height: 20px;">
            <div style="width: 600px; float: left">
                <ul style="padding: 0px; margin: 0px; list-style-type: none; height: 20px; width: 600px;">
                    <li style="float: left;">Designed and Developed by Devendra Chauhan. All Rights Reserved &copy; 2012
                    </li>
                </ul>
            </div>
            <div style="width: 100px; height: 20px; float: right;">
                <ul style="padding: 0px; width: 100px; height: 20px; float: right; margin: 0px; list-style-type: none;">
                    <li style="float: right; height: 20px; width: 100px; margin: 0px; padding: 0px;">
                       
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>